#reviews {
  font-family: 'Roboto';
  height: min-content;
  margin: 3rem 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5rem;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $bp-smallest) {
    padding: 2rem 1rem;
  }
}

.card__wrapper {
  margin: auto;
  padding-bottom: 3rem;
  display: grid;
  background-color: transparent;
  grid-template-columns: [start] 3rem [col-center] 25rem [col-end] 3rem;
  grid-template-rows: repeat(6, auto);
  transition: all 0.4s;

  &:hover,
  &:focus {
    transform: translateY(-1.5rem);
  }

  &:hover .card,
  &:focus .card {
    box-shadow: 4px 19px 6px rgba(0, 0, 0, 0.25);
  }
}

.card {
  grid-column: 2 / 3;
  grid-row: 1 / span 6;
  border-radius: 1rem;
  background: linear-gradient(156.32deg, #bd4141 0%, #701515 156.16%);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  transition: all 0.4s;
}

.card__img {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  margin: 2rem 0;
  border-radius: 50%;
  border: 2px solid white;
  height: 8rem;
  width: 8rem;
  margin-bottom: 0.5rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.name {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 0.5rem;
}

.location {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--red-300);
}

.country {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  margin: 0;
  text-align: center;
  transform: translatey(-0.5rem);
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--red-300);
}

.review__text {
  grid-column: 2 / 3;
  grid-row: 5 / 7;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  z-index: 5;
}

.openQuote,
.closeQuote {
  height: 7rem;
  width: 7rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
  z-index: 3;
}

.openQuote {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  justify-self: start;
  align-self: start;
  transform: translate(1.5rem, -12rem);
}

.closeQuote {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  justify-self: end;
  align-self: end;
  transform: translate(-1.5rem, -1rem);
}

.openQuote {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
  height: 7rem;
  width: 7rem;
  transform: translate(1.5rem, -12rem);
}

.quote {
  fill: var(--red-800);
}
